---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE } from "@config";
import { render } from "astro:content";
import { getCollection } from "astro:content";

// const entry = await getEntry('shelf', 'standards');
// const { Content, headings } = await render(entry);

export async function getStaticPaths() {
  const pages = await getCollection("shelf");
  return pages.map(shelf => ({
    params: { id: shelf.id },
    props: { shelf },
  }));
}

const { shelf } = Astro.props;
const { Content } = await render(shelf);

/* ========== Prev/Next Posts ========== */
const shelves = await getCollection("shelf");
const allShelves = shelves.map(({ data: { category }, id }) => ({
  id,
  category,
}));

const currentCateIndex = allShelves.findIndex(a => a.id === shelf.id);
const nextShelf = allShelves[(currentCateIndex + 1)%allShelves.length];
---

<Layout title={`${shelf.data.category} | ${SITE.title}`}>
  <Header activeNav="shelf" />
  <div class="mt-8"></div>
  <main id="main-content">
    <!-- Carosel botton always to the next shelf -->
    <div class="grid grid-cols-2">
      <h1>{shelf.data.category}</h1>
      <div class="flex flex-row items-center">
        {
          nextShelf && (
            <a
              href={`/shelf/${nextShelf.id}`}
              class="flex w-full justify-end gap-1 text-right hover:opacity-75 sm:col-start-2"
            >
              <div class="text-skin-accent">{nextShelf.category}</div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right flex-none"
              >
                <>
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M9 6l6 6l-6 6" />
                </>
              </svg>
            </a>
          )
        }
      </div>
    </div>
    <div class="mt-10"></div>
    <folder class="mx-auto max-w-3xl">
      <Content />
    </folder>

  </main>

  <Footer />
</Layout>

<style>
  #main-content {
    @apply mx-auto w-full max-w-3xl px-4 pb-4;
  }
  #main-content h1 {
    @apply text-2xl font-semibold sm:text-3xl;
  }
  #main-content p {
    @apply mb-6 mt-2 italic;
  }
</style>